# Staging Environment Configuration
ENVIRONMENT=staging
API_URL=https://staging-api.puwf.app
LOG_LEVEL=info
ENABLE_CRASHES_REPORTING=true
SENTRY_DSN=https://your-sentry-dsn-staging@sentry.io/project-id
ENABLE_ANALYTICS=true
