# Production Environment Configuration
ENVIRONMENT=production
API_URL=https://api.puwf.app
LOG_LEVEL=warn
ENABLE_CRASHES_REPORTING=true
SENTRY_DSN=https://your-sentry-dsn@sentry.io/project-id
ENABLE_ANALYTICS=true
